<ion-modal-view class="editModal height80">

  <ion-header-bar align-title="center">
    <div class="center">
      <div class="titlex">
        Edit Mode
        <div class="float_right closex" ng-click="cancelChangePasswordModal()"><i class="icon ion-close"></i></div>
      </div>
    </div>
  </ion-header-bar>
  
  <ion-content scroll="true" class="has-header center" has-header="true" has-bouncing="true">
    <div class="textAlignLeft">

      <div class="fgfieldlabel" id="label_changePassword">New password</div>
      <input class="fgfield" type="password" name="changePassword" id="id_changePassword" placeholder="New password" ng-model="user.password" advancenext>
      <br clear="all"/>

      <div class="fgfieldlabel" id="label_changePasswordConfirm">Confirm password</div>
      <input class="fgfield" type="password" name="changePasswordConfirm" id="id_changePasswordConfirm" placeholder="Confirm password" ng-model="user.confirmPassword" advancenext>

    </div>
    <br clear="all"/>

    <div class="center fgbuttongreen savePassword" ng-click="savePassword()" ng-show="!showFooter">Save</div>
    <br clear="all"/><br>

  </ion-content>
  
  <ion-footer-bar class="reviewsFooter hide-on-keyboard-open" ng-show="showFooter" ng-hide="!showFooter">
    <div class="center" ng-click="savePassword()">
      Save
    </div>
  </ion-footer-bar>

</ion-modal-view>