<ion-modal-view class="editModal">

  <ion-header-bar align-title="center">
    <div class="center">
      <div class="titlex">
        Edit Mode
        <div class="float_right closex" ng-click="cancelChangeNameModal()"><i class="icon ion-close"></i></div>
      </div>
    </div>
  </ion-header-bar>
  
  <ion-content scroll="true" class="has-header center" has-header="true" has-bouncing="true">
    <div class="textAlignLeft">
      <div class="fgfieldlabel displayBlock" id="label_changeName">Name</div>
      <input class="fgfield" type="text" name="changeName" id="id_changeName" placeholder="Name" ng-model="user.name" advancenext>
    </div>
  </ion-content>
  
  <ion-footer-bar class="reviewsFooter">
    <div class="center" ng-click="saveName()">
      Save
    </div>
  </ion-footer-bar>

</ion-modal-view>
