<ion-header-bar class="bar-light bar-header" align-title="center" on-swipe-down="showFiltersModal()">
    <div class="buttons">
      <button class="button button-icon ion-chevron-left backbutton" ng-click="goback()">
      </button>
    </div>
    <h1 class="title grayText" ng-if="!showSearchBox">Credit Cards</h1>
    <div class="buttons" ng-if="!showSearchBox">
      <img src="img/gear.gif" class="rightButton2" ng-click="goToSettings()">
    </div>
</ion-header-bar>

<ion-view>
  <ion-content scroll="false" class="has-header" has-header="true" has-bouncing="true" ng-style="homestyle">
    <div id="wrapper">
      
      <div class="fontSize18">
        
        <div class="ea_title">
          <div class="float_left sa_circle">
            <div class="circleOptions" style="background-color:{{ creditCard.color }} !important;">&nbsp;</div>
          </div>
          <div class="sa_addressDesc transparent">
            <span class="RobotoBold">{{ creditCard.desc }}</span>
          </div>
        </div>
        
        <div class="degrade">
          <span class="fontSize9 grayText">Card Number</span>  
          <br>
          <img src="img/{{ creditCard.type }}.gif" class="verticalAlignMiddle" >&nbsp;&nbsp;&nbsp;{{ creditCard.number }}                   
          <br clear="all"/><br>        
          
          <span class="fontSize9 grayText">Expiration</span>  
          <br>
          {{ creditCard.expiration }}
          <br clear="all"/><br>                           
        
        </div>
        
      </div>

      <div class="ea_bottom grayText">
        <div class="fontSize15 ea_moreOptions">More options</div>

        <div class="ea_moreOptionsItem">
          <div class="width100">
            <div ng-class="creditCard.isDefault ? 'toggleLabelActive' : 'toggleLabel'">
              Set as default {{ creditCard.isDefault }}
            </div>
            <div class="float_right">
              <ion-toggle ng-model="creditCard.isDefault" toggle-class="toggle-positive" class="theToggle" ng-change="saveCreditCard(true)"></ion-toggle>
            </div>
            <br clear="all"/>
          </div>
        </div>

        <div class="ea_moreOptionsItem" ng-click="showEditCreditCardModal()">
          <div class="width100">
            <div class="float_left ea_editLink">
              Edit Card
            </div>
            <div class="float_right">
              <button class="button button-icon ion-chevron-right ea_editArrow" ng-click="goback()"></button>              
            </div>
           <br clear="all"/>
          </div>
        </div>                                                                 
        
        <div class="ea_moreOptionsItem noBorderBottom" ng-click="deleteCreditCard()">
          <div class="width100">
            <div>Delete this credit card</div>
          </div>
        </div>

    </div>

  </ion-content>
</ion-view>

<ion-footer-bar class="footerBar2" ng-if="showFooter" ng-hide="!showFooter">
  <div class="footerIcon" ng-click="goToHome()">
    <img src="img/footer-home.gif" align="middle">
    <div class="overlay"></div>       
  </div>
  <div class="footerIcon">
    <img src="img/footer-schedule.gif" align="middle">
    <div class="overlay"></div>
  </div>
  <div class="footerIcon">
    <img src="img/footer-notifications.gif" align="middle">
    <div class="overlay"></div>                           
  </div>
  <div class="footerIcon" ng-click="goToFavorites()">
    <img src="img/footer-favorites.gif" align="middle">
    <div class="overlay"></div>
  </div>
  <div class="footerIcon">
    <img src="img/footer-search.gif" align="middle">
    <div class="overlay"></div>
  </div>
</ion-footer-bar>