<ion-nav-bar align-title="center">
  <ion-nav-title>
    <span class="graytex"><b>Password Reset</b></span>
  </ion-nav-title>
  <ion-nav-buttons>
    <button class="button button-icon ion-chevron-left backbutton" ng-click="gobackrp()">
    </button>
  </ion-nav-buttons>
</ion-nav-bar >

<ion-content class="has-header" has-header="true" has-bouncing="false">
  <div id="wrapper">
  
    <div ng-show="!enterpassword">
      <div class="center graytex" ng-show="!entercode">
        <div class="textfp">
          We're going to send you a code to<br>
          verify that it's really you.
          <br><br>
          How would you like to receive your code?
          <br><br>
          <button class="fgbutton fullbutton" ng-click="sendMeText()">Send me a text</button>
          <br clear="all"/><br>
          <button class="fgbutton fullbutton" ng-click="sendMeEmail()">Send me an email</button>
        </div>
      </div>
      <div ng-show="entercode">
        <div class="textfp">
          <div class="fgfieldlabel" id="label_code">Code</div>
          <input class="fgfield" type="text" name="code" id="id_code" placeholder="Code" ng-model="fp.code" advancenext>
        </div>
      </div>
    </div>
    
    <div ng-show="enterpassword">
      <div>
        <div class="textfp">
          <div class="fgfieldlabel" id="label_newpassword">New Password</div>
          <input class="fgfield" type="text" name="newpassword" id="id_newpassword" placeholder="New Password" ng-model="fp.newpassword" advancenext>
          <br>
          <div class="fgfieldlabel" id="label_confirmpassword">Confirm Password</div>
          <input class="fgfield" type="text" name="confirmpassword" id="id_confirmpassword" placeholder="Confirm Password" ng-model="fp.confirmpassword" advancenext>
        </div>
      </div>
    </div>
  
  </div>
</ion-content>

<ion-footer-bar align-title="left" class="footerBar" ng-show="footerShow">
  <h1 class="title"></h1>
  <div class="buttons whiteText" ng-click="goNext()">
    <button>Next</button>
  </div>
</ion-footer-bar>