<ion-nav-bar align-title="center">
  <ion-nav-title>
    <span class="graytex"><b>Password Reset</b></span>
  </ion-nav-title>
  <ion-nav-buttons>
    <button class="button button-icon ion-chevron-left backbutton" ng-click="goBackrp()">
    </button>
  </ion-nav-buttons>
</ion-nav-bar >

<ion-view>
<ion-content scroll="false" class="has-header" has-header="true" has-bouncing="false">
  <div id="wrapper">
  
    <div ng-show="!enterpassword">
      <div class="center graytex" ng-show="step1">
        <div class="textfp">
          We're going to send you a code to<br>
          verify that it's really you.
          <br><br>
          How would you like to receive your code?
          <br><br>
          <button class="fgbutton fullbutton" ng-click="sendMeText()">Send me a text</button>
          <br clear="all"/><br>
          <button class="fgbutton fullbutton" ng-click="sendMeEmail()">Send me an email</button>
        </div>
      </div>
      <div ng-show="step2_1">
        <div class="textfp">
          <div class="fgfieldlabel" id="label_phone">Phone Number</div>
          <input class="fgfield" type="tel" name="phone" id="id_phone" placeholder="Phone" ng-model="fp.phone" advancenextfp>
        </div>
      </div>
      <div ng-show="step2_2">
        <div class="textfp">
          <div class="fgfieldlabel" id="label_email">Email</div>
          <input class="fgfield" type="text" name="email" id="id_email" placeholder="Email" ng-model="fp.email" advancenextfp>
        </div>
      </div>
      <div ng-show="step3">
        <div class="textfp">
          <div class="fgfieldlabel" id="label_code">Code</div>
          <input class="fgfield" type="text" name="code" id="id_code" placeholder="Code" ng-model="fp.code" advancenextfp>
        </div>
      </div>
    </div>
    
    <div ng-show="enterpassword">
      <div>
        <div class="textfp">
          <div class="fgfieldlabel" id="label_newpassword">New Password</div>
          <input class="fgfield" type="password" name="newpassword" id="id_newpassword" placeholder="New Password" ng-model="fp.password" advancenext>
          <br>
          <div class="fgfieldlabel" id="label_confirmpassword">Confirm Password</div>
          <input class="fgfield" type="password" name="confirmpassword" id="id_confirmpassword" placeholder="Confirm Password" ng-model="fp.confirmpassword" advancenext>
        </div>
      </div>
    </div>
  
  </div>
</ion-content>
</ion-view>

<ion-footer-bar class="footerBar" ng-show="footerShow" keyboard-attach>
  <h1 class="title">
  </h1>
  <div class="buttons whiteText" ng-click="goNext()">
     <button class="button nextb">Next</button>
  </div>
</ion-footer-bar>
