<ion-modal-view class="infoModal grayBackground">
 
  <ion-header-bar align-title="center">
    <div class="title grayText">
      Reviews
      <div class="float_right closex" ng-click="cancelReviewsModal()">
        <i class="icon ion-close"></i>
      </div>
    </div>
    <br clear="all"/>
  </ion-header-bar>

  <ion-content scroll="true" class="has-header" has-header="true" has-bouncing="true">
    
    <!-- See reviews -->
    <div id="seeReviews" class="center"  ng-show="!writeAReview && !submittedReview">
      <div class="content">
        <div class="modalTextHeader">
          <div class="modalText">
            <div class="float_left">      
              <rating ng-model="store.rating" readonly="readOnly"></rating>
            </div>
            <div class="float_left">
              &nbsp;&nbsp;&nbsp;{{ store.rating }}
            </div>
            <div class="float_right">
              {{ store.reviews.length }} Reviews
            </div>
            <br clear="all"/>
            <select ng-model="reviewsDropDown.sort" class="reviewsDropdown" ng-change="reloadReviews()">
              <option value="DESC">Newest - Oldest</option>
              <option value="ASC">Oldest - Newest</option>
            </select>
          </div>
        </div>
        <div ng-repeat="review in store.reviews" class="width100 review" ng-class-even="'revieweven'" ng-class-odd="'reviewodd'">
            <div class="modalText">
              <div ng-if="review.userid == userID">
                <div class="float_left grayText italicFont">
                  Your Review
                </div>
                <div class="float_right blueText">
                  Edit
                </div>
                <br clear="all"/>
              </div>
              <div class="width100 textAlignLeft grayText">
                <div class="float_left">
                  <rating ng-model="review.rating" readonly="readOnly"></rating>
                </div>
                <div class="float_left">
                  &nbsp;&nbsp;&nbsp;{{ review.title }}
                </div>
                <br clear="all"/>
                {{ review.username }} on {{ review.date }} 
              </div>
              <div class="textAlignLeft blackText">
                <span ng-if="reviewNoCutID != review.id">
                  {{ review.content | limitTo: 118 }} 
                  <span class="blueText italicFont" ng-click="reviewNoCut(review.id)">
                    {{ review.content.length > 118 ? ' more...' : ''}}
                  </span>
                </span>
                <span ng-if="reviewNoCutID == review.id">
                  {{ review.content }} 
                  <span class="blueText italicFont" ng-click="reviewNoCutRelease()" ng-if="reviewNoCutID == review.id">
                    {{ review.content.length > 118 ? ' less' : ''}}
                  </span>
                </span>
              </div>
            </div>
        </div>
      </div>
    </div>
    
    <!-- Write review -->
    <div id="writeReview" class="center" ng-show="writeAReview">
      <rating ng-model="userReview.rating" style="font-size:27px;"></rating>
      <br clear="all"/>
      <div class="textAlignLeft">
        <div class="fgfieldlabel" id="label_displayname">Display Name</div>
        <input class="fgfield" type="text" name="displayname" id="id_displayname" placeholder="Display Name" ng-model="userReview.displayname" advancenext>
        <br>
        <div class="fgfieldlabel" id="label_headline">Headline</div>
        <input class="fgfield" type="text" name="headline" id="id_headline" placeholder="Headline" ng-model="userReview.headline" advancenext>
        <br>
        <div class="fgfieldlabel" id="label_reviewtext">Write your review...</div>
        <textarea class="fgfield text_area" rows="3" name="reviewtext" id="id_reviewtext" placeholder="Write your review..." ng-model="userReview.reviewtext" advancenext></textarea>
      </div>
      <br clear="all"/><br><br>
    </div>

    <!-- Submitted review -->
    <div id="submittedReview" class="center grayText" ng-show="submittedReview">
      <br clear="all"/><br><br>
      Thank you for submitting your review! 
    </div>

  </ion-content>
  
  <ion-footer-bar class="reviewsFooter" ng-show="!submittedReview">
    <div class="center" ng-click="writeReview()"  ng-show="!writeAReview && !submittedReview">
      Write a Review
    </div>
    <div class="center" ng-click="submitReview()"  ng-show="writeAReview">
      Submit Review
    </div>
  </ion-footer-bar>
  
</ion-modal-view>
