<ion-header-bar class="bar-light bar-header">
  <div class="buttons">
    <button class="button button-icon ion-chevron-left backbutton" ng-click="gobackhome()">
    </button>
  </div>
  <div class="searchContainer float_left" angucomplete pause="100" url="" searchfields="name" titlefield="name" minlength="1" dist="" ng-show="showSearchBox" localdata="places" callbackfn="selectedPlace()" selectedobject="dummy" callbackfnfocus="showSearchOverlay()" callbackfnblur="hideSearchOverlay()"></div>
</ion-header-bar>

<ion-view>
<ion-content scroll="false" class="has-header" has-header="true" has-bouncing="true" ng-style="homestyle">
  <div>
    <div class="center">
      <br clear="all"/><br><br>
      <img src="img/place1.png" id="categoryimg" ng-click="getlocation()">
      <br><br>
      <img src="img/place2.png" id="categoryimg" ng-click="getlocation()">
      <br><br>
      <img src="img/place3.png" id="categoryimg" ng-click="getlocation()">
    </div>
  </div>
</ion-content>                                                       
</ion-view>
