<ion-nav-bar align-title="center">
  <ion-nav-buttons>
    <button class="button button-icon ion-chevron-left backbutton" ng-click="goback()">
    </button>
  </ion-nav-buttons>
</ion-nav-bar >

<ion-view>
<ion-content scroll="false" class="has-header" has-header="true" has-bouncing="true">
  <div id="wrapper">
    <div class="center RobotoBold">
      
      Order #{{ orderID }} status section here

    </div>
  </div>
</ion-content>                                                       
</ion-view>
