<ion-modal-view class="selectAddressModal background-color_EAEAEA">
  <ion-content scroll="true" has-header="false" has-bouncing="true">
    <div class="center">
      <br clear="all"/>
      <div class="textAlignLeft sa_addressList" ng-repeat="address in userAddresses track by $index">
        <div ng-click="selectThisAddress(address)">
          <div class="float_left sa_circle">
            <div class="circleOptions" style="background-color:{{ address.color }} !important;">&nbsp;</div>
          </div>
          <div class="sa_addressDesc">
            <span class="RobotoBold">{{ address.desc }}</span>
          </div>
        </div>
      </div>        
    
      <div class="textAlignLeft sa_addNewAddress" ng-click="addNewUserAddress()">
        <div class="float_left sa_addNewAddressAddIcon">
          <img src="img/add_icon.png" align="left">
        </div>
        <div class="sa_action">
          <span class="RobotoBold grayText">Add a new address</span>
        </div>
      </div>
    
    </div>
  </ion-content>
  
  <ion-footer-bar class="reviewsFooter" ng-show="!submittedReview">
    <div class="center width100" ng-click="cancelSelectAddressModal()">
      Close
    </div>
  </ion-footer-bar>  
  
</ion-modal-view>
