<ion-modal-view class="selectCardModal background-color_EAEAEA">
  <ion-content scroll="true" has-header="false" has-bouncing="true">
    <div class="center">
      <br clear="all"/>
      <div class="textAlignLeft sc_padding" ng-repeat="card in userCards track by $index">
        <div ng-click="selectThisCard(card)">
          <div class="float_left sc_circle">
            <div class="circleOptions" style="background-color:{{ card.color }} !important;">&nbsp;</div>
          </div>
          <div class="sc_cardDesc">
            <span class="RobotoBold">{{ card.desc }}</span>
          </div>
        </div>
      </div>        
    
      <div class="textAlignLeft sc_addNewUserCard" ng-click="addNewUserCard()">
        <div class="float_left sc_addNewUserCardAddIcon">
          <img src="img/add_icon.png" align="left">
        </div>
        <div class="sc_addcc">
          <span class="RobotoBold grayText">Add a new credit card</span>
        </div>
      </div>
    
    </div>
  </ion-content>
  
  <ion-footer-bar class="reviewsFooter" ng-show="!submittedReview">
    <div class="center width100" ng-click="cancelSelectCardModal()">
      Close
    </div>
  </ion-footer-bar>  
  
</ion-modal-view>
