<ion-modal-view class="selectAddressModal background-color_EAEAEA">
  <ion-content scroll="true" has-header="false" has-bouncing="true">
    <div class="center">
      <br clear="all"/>
      <div class="textAlignLeft" ng-repeat="address in userAddresses track by $index" style="padding:9px;">
        <div ng-click="selectThisAddress(address)">
          <div class="float_left" style="width:3px; margin-right:27px; margin-top:9px;">
            <div class="circleOptions" style="background-color:{{ address.color }} !important;">&nbsp;</div>
          </div>
          <div style="overflow:hidden;  border-radius:27px; background-color:#FFFFFF; padding:9px; margin-right:9px;">
            <span class="RobotoBold">{{ address.desc }}</span>
          </div>
        </div>
      </div>        
    
      <div class="textAlignLeft" style="padding:9px;" ng-click="addNewUserAddress()">
        <div class="float_left" style="width:3px; margin-right:27px; margin-top:9px;">
          <img src="img/add_icon.png" align="left">
        </div>
        <div style="overflow:hidden;  border-radius:27px; background-color:#F8F8F8; padding:9px; margin-right:9px;">
          <span class="RobotoBold grayText">Add a new address</span>
        </div>
      </div>
    
    </div>
  </ion-content>
  
  <ion-footer-bar class="reviewsFooter" ng-show="!submittedReview">
    <div class="center width100" ng-click="cancelSelectAddressModal()">
      Close
    </div>
  </ion-footer-bar>  
  
</ion-modal-view>
