<ion-header-bar class="bar-light bar-header" align-title="center">
    <div class="buttons">
      <button class="button button-icon ion-chevron-left backbutton" ng-click="goback()"></button>
    </div>
    <h1 class="title grayText" ng-if="!showSearchBox"></h1>
    <div class="buttons" ng-if="!showSearchBox">
      <img src="img/info.gif" class="rightButton1"  ng-click="showInfoModal()">                                                               
      <img src="img/glass.gif" class="rightButton3" ng-click="showSearchBoxF()">
      <img src="img/more.gif" class="rightButton3">
    </div>                                                                              
    <div searchid="id_searchqStore" class="searchContainer float_left" angucomplete pause="300" url="" searchfields="name" titlefield="name" minlength="1" dist="" ng-if="showSearchBox" localdata="places" callbackfn="selectedPlace(store)" selectedobject="dummy" callbackfnfocus="showSearchOverlay()" callbackfnblur="hideSearchOverlay()"></div>
</ion-header-bar>

<ion-view>
  <ion-content scroll="true" ng-class="showFooter ? 'has-header has-footer has-subfooter' : 'has-header'" has-header="true" has-bouncing="true" ng-style="homestyle">
    <div id="wrapper">
      <div class="center">
        <div id="storeInfo">
          <div class="float_left">
            <div class="RobotoBold placeName">
              {{ store.name }}
            </div>
            <div class="grayText">
              {{ store.cuisineTypes }} Cuisine
            </div>
          </div>  
          <div class="float_right">
            <img src="img/favorite.png" height="15" align="middle" ng-click="saveToFavorite()">
            <div class="grayText" style="line-height:100%;">
              <small>
                Min ${{ store.minimunPrice }}<br>
                {{ store.todaySchedule }}
              </small>
            </div>
          </div>
          <br clear="all"/>
        </div>
        <div id="visualInfobar">
          <div class="content">
            <div class="float_left">
              <img src="img/location-dist.gif" height="18">
              <div class="grayText"><small>{{ store.distance }}</small></div>
            </div>
            <div class="float_left">&nbsp;</div>
            <div class="float_left">&nbsp;</div>
            <div class="float_left">&nbsp;</div>                                       
            <div class="float_left">
              <img src="img/wait-time.gif" height="18">
              <div class="grayText"><small>:{{ store.waitTime }}</small></div>
            </div>
            <div class="float_right grayText">
              <div class="float_left" ng-click="showReviewsModal()">
                <rating ng-model="store.rating" readonly="readOnly"></rating>
                <div>({{ store.reviews.length }} Reviews)</div>
              </div>
              <div class="float_left">&nbsp;</div>
              <div class="float_left">&nbsp;</div>
              <div class="float_left">&nbsp;</div>
              <div class="float_left">
                <img src="img/price-level1.png" align="right" height="36" class="marginBottom9px" ng-if="store.pricesLevel == 1">
                <img src="img/price-level2.png" align="right" height="36" class="marginBottom9px" ng-if="store.pricesLevel == 2">
                <img src="img/price-level3.png" align="right" height="36" class="marginBottom9px" ng-if="store.pricesLevel == 3">
                <img src="img/price-level4.png" align="right" height="36" class="marginBottom9px" ng-if="store.pricesLevel == 4">
              </div>
              <br clear="all"/>
            </div>
            <br clear="all"/>
          </div>
        </div>
        <div id="categoryTabs">
          <div class="float_left RobotoBold" ng-click="showCart()" style="background-color:#99E58A; color:#FFFFFF; font-weight:bold; display: flex; justify-content: center; align-items: center;">
            <div class="float_left cartIcon" ng-click="completeCart()">
              {{ cartLength }}
            </div>
            <div class="float_left" id="cartIconText"> 
              CART&nbsp;&nbsp;&nbsp;                                       
            </div>
            <br clear="all"/>
          </div>
          <ion-scroll zooming="false" direction="x" scrollbar-x="false" class="whiteSpaceNoWrap" has-bouncing="false" on-scroll="gotScrolled()">
            <div class="long-container" id="id_long_container"">
              <div ng-repeat="category in store.categories" ng-class="activeTab == category.id ? 'float_left RobotoBold tabActive' : 'float_left RobotoBold'" on-tap="selectTab(category.id)" style="padding-left:9px; padding-right:9px; padding-top:15px; display:inline-block; text-align:center; height:100%;">
                {{ category.name }}
              </div>
            </div>
          </ion-scroll>
        </div>
    
        <div ng-if="activeTab == 0" style="padding:9px; width:100%; font-size:15px;">
          <div class="float_right grayText" ng-click="clearCart(store.id)" ng-if="cartLength > 0">
            <i class="icon ion-close" style="font-size:15px;">&nbsp;Clear cart</i>
          </div>
          <br clear="all"/>
          <div ng-repeat="cartItem in cart track by $index" ng-if="(cartLength>0) && (cartItem.storeID==store.id)">
            <hr>
            <div class="float_left">
              <select class="cartDropDownNoBorder grayText" ng-model="cartItem.quantity" ng-change="updateCartQuantity(cartItem.id, '{{ cartItem.quantity }}', cartItem.ident)">
                <option ng-repeat="n in [] | rangeQuantities:cartItem.quantity" value="{{ n }}" >{{n}}</option>
              </select>
            </div>
            <div class="float_left" style="padding:9px; text-align:left; max-width:50%;">
              <span class="RobotoBold">{{ cartItem.name }}</span>
              <br clear="all"/>
              <span class="grayText">
                {{ cartItem.description }} 
                <span ng-repeat="option in cartItem.options">
                  {{ option.desc }}{{$last ? '' : ', '}} 
                </span> 
              </span>
            </div>
            <div class="float_right grayText" style="padding-top:9px; text-align:right; margin:0px;">
              <b>
                <i class="icon ion-close" style="font-size:15px;" ng-click="removeFromCartByIdent(cartItem.ident)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
                <br clear="all"/>
                {{ cartItem.price | currency }}
              </b>
              <br>
              <span ng-if="cartItem.quantity > 1">each {{ cartItem.price/cartItem.quantity | currency }}</span>
            </div>
            <br clear="all"/>
          </div>
          <div ng-if="cartLength > 0" style="background-color:#EAEAEA !important; padding-left:9px; border-top:3px #9B9B9B solid;">
            <div class="RobotoBold float_left" style="margin:12px;">
              Total
            </div>
            <div class="RobotoBold float_right">
              <button class="button button-icon ion-chevron-down"></button>
            </div>
            <div class="RobotoBold float_right" style="margin:12px;">
              {{ cartTotal | currency }} 
            </div>
            <br clear="all"/>
          </div>
          <div ng-if="cartLength == 0">
            <br clear="all"/><br><br>
            No items in your cart for this store.
          </div>
        </div>
    
        <div ng-if="activeTab != 0">
          <!-- Place Menu -->    
          <div id="regularPanel" class="textAlignLeft" style="padding:9px; width:100%;">
            <div ng-repeat="aItem in store.categoryItems" ng-click="wantThis(aItem)">
              <div id="itemInfo_{{ aItem.id }}">
                <div class="float_left" style="margin-bottom:18px;">
                  <span class="RobotoBold">{{ aItem.name }}</span>
                  <br>
                  <span class="grayText">{{ aItem.description }}</span>
                </div>
                <div class="float_right grayText">
                  ${{ aItem.price }}
                </div>
              </div>
              <div id="addItemToCart_{{ aItem.id }}" class="displayNone center">
                <br clear="all"/>
                <div class="center width100">
                  <select class="cartDropDown grayText" id="quantity_{{ aItem.id }}">
                    <option value="1">&nbsp;&nbsp;&nbsp;1</option>
                    <option value="2">&nbsp;&nbsp;&nbsp;2</option>
                    <option value="3">&nbsp;&nbsp;&nbsp;3</option>
                    <option value="4">&nbsp;&nbsp;&nbsp;4</option>
                    <option value="5">&nbsp;&nbsp;&nbsp;5</option>
                    <option value="6">&nbsp;&nbsp;&nbsp;6</option>
                    <option value="7">&nbsp;&nbsp;&nbsp;7</option>
                    <option value="8">&nbsp;&nbsp;&nbsp;8</option>
                    <option value="9">&nbsp;&nbsp;&nbsp;9</option>
                    <option value="10">&nbsp;&nbsp;&nbsp;10</option>
                  </select>
                  <button class="fgbuttongreen" ng-click="addThisToCard(aItem, [], 'nooptions')">Add to cart</button>
                </div>
                <div class="float_right">
                  <button class="button button-icon ion-chevron-up" ng-click="hideAddItemCart(aItem)"></button>      
                </div>
              </div>
              <br clear="all"/>
              <hr>
            </div> 
          </div>
        
          <!-- Multioptions selection -->
          <div id="MOPanel" class="textAlignLeft width100 displayNone">
            <div id="itemInfo_mo" style="background-color: #EAEAEA;">
              <div class="float_left">
                <button class="button button-icon ion-chevron-left backbutton" ng-click="hideMOPanel()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>      
              </div>
              <div class="float_left" style="margin-top:15px; margin-left:27px;">
                <span class="RobotoBold">{{ item_mo.name }}</span>
              </div>
              <div class="float_right grayText" style="margin-top:15px; margin-right:27px;">
                ${{ item_mo.price }}
              </div>
              <br clear="all"/>
            </div>
            <div ng-repeat="options in item_mo.options">
              <div class="grayText" style="background-color: #F8F8F8; padding:9px; padding-left:27px;">
                {{$index +1}}. {{ options.heading }}
              </div>
              <ion-scroll zooming="true" direction="x" scrollbar-x="false" style="width:100%; min-height:54px; float:left; white-space: nowrap; margin-left:3px; margin-right:3px; margin-top:9px;">
                <div ng-class="auxArray|containsObject2:obj" ng-repeat="obj in options.values" ng-click="toggleOption(obj)">
                  {{obj.desc}} <span ng-if="obj.inc != '0.0'">+${{obj.inc}}</span>
                </div>
              </ion-scroll>
              <br clear="all"/>
            </div>
            <div id="addItemToCart_mo" class="center">
              <br clear="all"/>
              <div class="center width100">
                <select class="cartDropDown grayText" id="quantity_mo">
                  <option value="1">&nbsp;&nbsp;&nbsp;1</option>
                  <option value="2">&nbsp;&nbsp;&nbsp;2</option>
                  <option value="3">&nbsp;&nbsp;&nbsp;3</option>
                  <option value="4">&nbsp;&nbsp;&nbsp;4</option>
                  <option value="5">&nbsp;&nbsp;&nbsp;5</option>
                  <option value="6">&nbsp;&nbsp;&nbsp;6</option>
                  <option value="7">&nbsp;&nbsp;&nbsp;7</option>
                  <option value="8">&nbsp;&nbsp;&nbsp;8</option>
                  <option value="9">&nbsp;&nbsp;&nbsp;9</option>
                  <option value="10">&nbsp;&nbsp;&nbsp;10</option>
                </select>
                <button class="fgbuttongreen" ng-click="addThisToCard(item_mo, auxArray, 'multioptions')">Add to cart</button>
              </div>
            </div>
            <br clear="all"/>
          </div>
        </div>
        
      </div>
    </div>
  </ion-content>
</ion-view>

<ion-footer-bar align-title="left" class="bar-subfooter liveDealsBar hide-on-keyboard-open" ng-show="store.live_deal && showFooter" ng-hide="!showFooter || !store.live_deal">
  <div class="width100">
    <div class="float_left" style="min-width:20%;">
      All You Can Eat
    </div>
    <div class="float_left timeprogress" style="min-width:20%;">
      <div class="passed" id="progress_countdown_{{ store.id }}" style="width:1%;">&nbsp;</div>  
    </div>
    <div id="countdown_{{ store.id }}" class="float_left countdown" countdown livedeal="{{ store.live_deal }}" endingtime="{{ store.endingTime }}" liveduration="{{ store.live_duration }}" style="min-width:20%;"></div>
    <div class="float_right">
      <i class="icon ion-chevron-right"></i>
    </div>
  </div>
  <br clear="all"/>
</ion-footer-bar>

<ion-footer-bar class="footerBar2 hide-on-keyboard-open" ng-if="showFooter" ng-hide="!showFooter">
  <div class="footerIcon">
    <img src="img/footer-home.gif" align="middle">
    <div class="overlay"></div>       
  </div>
  <div class="footerIcon">
    <img src="img/footer-schedule.gif" align="middle">
    <div class="overlay"></div>
  </div>
  <div class="footerIcon">
    <img src="img/footer-notifications.gif" align="middle">
    <div class="overlay"></div>                           
  </div>
  <div class="footerIcon">
    <img src="img/footer-favorites.gif" align="middle">
    <div class="overlay"></div>
  </div>
  <div class="footerIcon">
    <img src="img/footer-search.gif" align="middle">
    <div class="overlay"></div>
  </div>
</ion-footer-bar>