<ion-header-bar class="bar-light bar-header" align-title="center" on-swipe-down="showFiltersModal()">
    <div class="buttons">
      <button class="button button-icon ion-chevron-left backbutton" ng-click="goback()">
      </button>
    </div>
    <h1 class="title grayText" ng-if="!showSearchBox"></h1>
    <div class="buttons" ng-if="!showSearchBox">
      <img src="img/info.gif" class="rightButton1"  ng-click="showInfoModal()">                                                               
      <img src="img/glass.gif" class="rightButton3" ng-click="showSearchBoxF()">
      <img src="img/more.gif" class="rightButton3">
    </div>                                                                              
    <div searchid="id_searchqStore" class="searchContainer float_left" angucomplete pause="300" url="" searchfields="name" titlefield="name" minlength="1" dist="" ng-if="showSearchBox" localdata="places" callbackfn="selectedPlace(store)" selectedobject="dummy" callbackfnfocus="showSearchOverlay()" callbackfnblur="hideSearchOverlay()"></div>
</ion-header-bar>

<ion-view>
  <ion-content scroll="true" class="has-header" has-header="true" has-bouncing="true" ng-style="homestyle">
    <div id="wrapper">
      <div class="center">
        <div id="storeInfo">
          <div class="float_left">
            <div class="RobotoBold placeName">
              {{ store.name }}
            </div>
            <div class="grayText placeGenre">
              {{ store.cuisineTypes }} Cuisine
            </div>
          </div>  
          <div class="float_right">
            <img src="img/favorite.png" height="18" align="middle" ng-click="saveToFavorite()">
            <div class="grayText">
              Min ${{ store.minimunPrice }}<br>
              {{ store.todaySchedule }}
            </div>
          </div>
          <br clear="all"/>
        </div>
        <div id="visualInfobar">
          <div class="content">
            <div class="float_left">
              <img src="img/location-dist.gif" height="18">
              <div class="grayText"><small>{{ store.distance }}</small></div>
            </div>
            <div class="float_left">&nbsp;</div>
            <div class="float_left">&nbsp;</div>
            <div class="float_left">&nbsp;</div>                                       
            <div class="float_left">
              <img src="img/wait-time.gif" height="18">
              <div class="grayText"><small>:{{ store.waitTime }}</small></div>
            </div>
            <div class="float_right grayText">
              <div class="float_left" ng-click="showReviewsModal()">
                <rating ng-model="store.rating" max="rating.max" readonly="readOnly"></rating>
                <div>(35 Reviews)</div>
              </div>
              <div class="float_left">&nbsp;</div>
              <div class="float_left">&nbsp;</div>
              <div class="float_left">&nbsp;</div>
              <div class="float_left">
                <img src="img/price-level1.png" align="right" height="36" class="marginBottom9px" ng-if="store.pricesLevel == 1">
                <img src="img/price-level2.png" align="right" height="36" class="marginBottom9px" ng-if="store.pricesLevel == 2">
                <img src="img/price-level3.png" align="right" height="36" class="marginBottom9px" ng-if="store.pricesLevel == 3">
                <img src="img/price-level4.png" align="right" height="36" class="marginBottom9px" ng-if="store.pricesLevel == 4">
              </div>
              <br clear="all"/>
            </div>
            <br clear="all"/>
          </div>
        </div>
        <div id="categoryTabs">
          &nbsp;
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

<ion-footer-bar class="footerBar2" ng-if="showFooter">
  <div class="footerIcon">
    <img src="img/footer-home.gif" align="middle">
    <div class="overlay"></div>       
  </div>
  <div class="footerIcon">
    <img src="img/footer-schedule.gif" align="middle">
    <div class="overlay"></div>
  </div>
  <div class="footerIcon">
    <img src="img/footer-notifications.gif" align="middle">
    <div class="overlay"></div>                           
  </div>
  <div class="footerIcon">
    <img src="img/footer-favorites.gif" align="middle">
    <div class="overlay"></div>
  </div>
  <div class="footerIcon">
    <img src="img/footer-search.gif" align="middle">
    <div class="overlay"></div>
  </div>
</ion-footer-bar>